.display-field-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.display-field-label {
  color: var(--primary);
  font-size: 16px;
  font-weight: 600;
}

.display-field-value {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  padding: 4px 0;
  min-height: 24px;
}
