.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--primary);
}

.input-container-field {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 512px;
  height: 32px;

  padding: 4px 8px 4px 16px;

  border: solid 2px var(--primary);
  border-radius: 24px;
  background-color: var(--white);

  color: var(--primary);
}

.input::placeholder {
  color: var(--primary-disabled);
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: var(--white);
  font-size: 16px;
  color: var(--primary);
}
