:root {
  --white: #f3eff5;
  --black: #19121d;
  --primary: #2f38e2;
  --primary-hover: #2329b8;
  --secondary: #f651c4;
  --secondary-hover: #d645a8;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
