.header {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 50%;
  display: flex;
  gap: 32px;
}

.right-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.right-container ul {
  display: flex;
  gap: 16px;
  list-style: none;
  align-items: start;
}

.right-container li {
  color: var(--primary);
}

.icon-btn {
  width: 24px;
  height: 24px;
}
