.checkbox-list-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.checkbox-list-item {
    background-color: var(--background);
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 8px 16px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;
}

.checkbox-list-item:hover,
.checkbox-list-item.selected {
    background-color: var(--primary);
    color: var(--white);
}