.bouton {
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 16px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.1s ease;
  align-items: center;
  display: flex;
  gap: 10px;
}

.bouton:hover {
  background-color: var(--primary-hover);
  transition: background-color 0.3s ease;
}

.bouton.clicked {
  transform: scale(0.96);
}

.bouton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.icon {
  width: 24px;
  height: 24px;
}
