.footer {
    background-color: var(--primary);
    color: var(--white);
    padding: 32px;
    border-radius: 24px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.footer .container a {
    color: var(--white);
}
