/* === Barre de recherche arrondie === */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 512px;
  height: 32px;

  padding: 4px 8px 4px 16px;

  border: solid 2px var(--primary);
  border-radius: 24px;
}

.search-bar:focus-within {
  border-color: var(--primary-hover);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: var(--white);
  font-size: 16px;
  color: var(--primary);
}

.search-input::placeholder {
  color: var(--primary-disabled);
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button:active {
  transform: scale(0.95);
}
