.page-container {
  gap: 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.columns-container {
  display: flex;
  gap: 32px;
  width: 100%;
}

.left-column {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-image,
.left-column img {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 16px;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 0;
}

.product-name {
  font-family: "Boldet", sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  color: var(--primary);
}

.product-category,
.product-seller {
  font-size: 14px;
  color: var(--black);
}

.product-category a {
  color: var(--black);
  font-weight: 400;
  font-size: 24px;
  text-decoration: underline;
}
.product-seller a {
  color: var(--primary);
  text-decoration: underline;
  font-family: 14px;
  font-weight: 600;
}

.product-category a:hover {
  color: var(--black-hover);
  text-decoration: none;
}

.product-seller a:hover {
  color: var(--primary-hover);
  text-decoration: none;
}

.product-description {
  font-size: 16px;
  line-height: 1.6;
}

.product-actions {
  display: flex;
  gap: 16px;
}

@media (max-width: 768px) {
  .page-container {
    flex-direction: column;
  }

  .left-column {
    flex: 1;
    width: 100%;
  }
}
